.app__em {
	display: none;
}

.component {
	border-radius: 8px;
	box-shadow: 0 2px 20px rgba(black, .2);
	overflow: hidden;
	width: 40ch;
}
.component__cover {
	height: 250px;
	position: relative;
}
.component__image {
	height: 100%;
	object-fit: cover;
	width: 100%;
}



.component__details {
	padding: 25px 20px;
}
.component__title {
	margin-top: 0;
}
.component__description {
	margin-bottom: 0;
}


.discount {
	background-color: red;
	border-radius: em(8) 0 0 0;
	bottom: 0;
	color: white;
	padding: em(5) em(10) em(10) em(40);
	position: absolute;
	right: 0;



	&::before {
		background: url(../assets/img/star.svg) center no-repeat;
		background-size: 100% auto;
		content: '';
		height: em(30);
		left: em(7);
		position: absolute;
		top: em(13);
		width: em(30);
	}
}

.discount__value {
	font-size: em(52);
}
.discount__unit {
	font-weight: bold;
}
.discount__label {
	display: block;
	font-size: em(12);
	margin-top: em(-10);
}
