.app__units {
	display: none;
}

.app__unit {
	box-sizing: border-box;
}





.app__unit--ch {
	background: gold;
	width: 10ch;
	font-family: 'Courier New', Courier, monospace;
}

.app__unit--vw {
	background: tomato;
	width: 50vw;
}

.app__unit--per {
	background: orange;
	width: 50%;
}


.app__unit--px {
	background: skyblue;
	padding: 20px;
	width: 500px;
}

.app__unit--em {
	background: greenyellow;
	padding: em(20);
	width: em(500);
}

.app__unit--rem {
	background: green;
	padding: rem(20);
	width: rem(500);

}
